.App {
  text-align: center;
}

.btn {
  background:transparent;
  border:none;
  font-size:12pt;
}

.trans {
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}